<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>View Staff</title>
</head>
<body>
    <h2>View Staff</h2>
    <hr>

    <div th:if="${staff != null}">
        <p><strong>Staff ID:</strong> <span th:text="${staff.staffId}"></span></p>
        <p><strong>Name:</strong> <span th:text="${staff.staffName}"></span>
        <p><strong>Department:</strong> <span th:text="${staff.department}"></span></p>
        <p><strong>Performance Rating:</strong> <span th:text="${staff.performanceRating}"></span></p>
        
         <div>
	        <strong>Hotel:</strong>
	        <span th:if="${staff.hotel == null}" style="color:red;">
	            No Job Assigned to Staff
	        </span>
	        <span th:if="${staff.hotel != null}">
	            <span th:text="${staff.hotel}"></span>
        </span>
    	</div>
        <!-- Flash messages -->
        <div th:if="${successMessage}" class="flash-message success">
            <h3 th:text="${successMessage}"></h3>
        </div>
        <div th:if="${errorMessage}" class="flash-message error">
            <h3 th:text="${errorMessage}"></h3>
        </div>
        
        <a th:href="@{/admin/staff/edit/{id}(id=${staff.staffId})}">Performance Review</a> |
        <a th:href="@{/admin/staff/delete/{id}(id=${staff.staffId})}">Delete</a>
    </div>
</body>
</html>
